@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Lato';
/*

Includes the following custom build from Zurb Foundation 6.2.3:

- 24 columns
- 75 rem max-width
- 1.875 rem gutter

- grid
- typography
- forms
- float classes
- visibility classes
- buttons
- close button
- button group
- breadcrumbs 
- pagination
- table

*/
html * {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  font-weight: 300;
  line-height: 1.6em;
}

h1 {
  font-size: 4.375rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 2.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h4 {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.25rem;
  margin-bottom: 4rem;
  line-height: 2.25rem;
  font-weight: 300;
}
p.no-margin-bottom {
  margin-bottom: 0;
}

p.small {
  font-size: 1rem;
  line-height: 1.2em;
}

/*

     @include grid-md {
        min-height: 40vh;        
    }    

*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* html,
body {
    height: 100%;
} */
/*--------------------------------------
Body
--------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: #34b6b8;
  outline: 0;
  border: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
  height: auto;
}

ul {
  margin: 0;
}
ul li {
  list-style: none;
}
ul.inline li {
  display: inline-block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

b,
strong {
  font-weight: bold;
}

ul.inline, ol.inline {
  margin-left: 0;
  list-style: none;
}

nav ul, nav ol {
  list-style: none;
}

/*--------------------------------------
Global Styles
--------------------------------------*/
/*--------------------------------------
Header
--------------------------------------*/
/*--------------------------------------
Hero Area
--------------------------------------*/
#hero {
  padding: 10rem 1rem 8rem 1rem;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  background-image: url(../img/hero/medid-hero.png);
  background-size: cover;
  background-position: center;
}
#hero br {
  display: none;
}
#hero h4 {
  color: #34b6b8;
}
#hero h1 {
  color: #fff;
  margin: 0;
  line-height: 1.2em;
}
#hero h3 {
  color: #c6c6c6;
  margin-top: 3rem;
}
@media only screen and (min-width: 64em) {
  #hero {
    padding: 10rem 1rem;
    text-align: center;
  }
  #hero br {
    display: inline-block;
  }
  #hero h1, #hero h2, #hero h3, #hero h4 {
    text-align: left;
  }
}

/*--------------------------------------
Section
--------------------------------------*/
section {
  padding: 6rem .5rem;
  text-align: center;
}
section h4 {
  color: #34b6b8;
}
section p {
  color: #999;
}
section .underlined-header {
  text-align: center;
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
section .underlined-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 5rem;
  border-top: 2px solid #34b6b8;
}
section .align-left {
  text-align: left;
}
@media only screen and (min-width: 64em) {
  section {
    padding: 6rem 2rem;
  }
}

/*--------------------------------------
Forms
--------------------------------------*/
form.simple-form [type='text'],
form.simple-form [type='password'],
form.simple-form [type='date'],
form.simple-form [type='datetime'],
form.simple-form [type='datetime-local'],
form.simple-form [type='month'],
form.simple-form [type='week'],
form.simple-form [type='email'],
form.simple-form [type='number'],
form.simple-form [type='search'],
form.simple-form [type='tel'],
form.simple-form [type='time'],
form.simple-form [type='url'],
form.simple-form [type='color'],
form.simple-form textarea,
form.simple-form select {
  border: none;
  background: none;
  display: inline-block;
  padding: 1.4rem;
  border: 2px solid #ccc;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
}
form.simple-form [type='text']:focus,
form.simple-form [type='password']:focus,
form.simple-form [type='date']:focus,
form.simple-form [type='datetime']:focus,
form.simple-form [type='datetime-local']:focus,
form.simple-form [type='month']:focus,
form.simple-form [type='week']:focus,
form.simple-form [type='email']:focus,
form.simple-form [type='number']:focus,
form.simple-form [type='search']:focus,
form.simple-form [type='tel']:focus,
form.simple-form [type='time']:focus,
form.simple-form [type='url']:focus,
form.simple-form [type='color']:focus,
form.simple-form textarea:focus,
form.simple-form select:focus {
  border: none;
  border: 2px solid #34b6b8;
  -webkit-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 white 2px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}

/*--------------------------------------
Footer
--------------------------------------*/
footer {
  background: #202020;
  color: white;
  text-align: center;
  padding: 8rem 0;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  width: 10rem;
  height: auto;
}
footer .columns {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-width: 64em) {
  footer .columns {
    text-align: left;
  }
}
footer ul {
  text-align: center;
}
footer ul li {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
}
footer .copyright {
  color: #999;
  font-size: 1rem;
  text-align: center;
}

/*--------------------------------------
Foundation fixes
--------------------------------------*/
.centered {
  float: none !important;
}

.hero {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 36px;
  -ms-transform: translate(0, -50%);
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Safari */
  transform: translate(0, -50%);
}

/* CONTACT US
-----------------------------*/
main .page-contact {
  background-image: url(../img/hero/contact.jpg);
}

main .page-MedID {
  background-image: url(../img/hero/medid-hero.png);
}

#contact-information {
  text-align: center;
}
#contact-information .companies-outer {
  margin-top: 32px;
}
#contact-information .company-wrapper {
  margin-bottom: 32px;
}
#contact-information .company-wrapper h3 {
  font-weight: 400;
  line-height: 1.8em;
  margin: 0;
}
#contact-information .company-wrapper h3 i {
  font-weight: 400;
}

#media-contact {
  background-image: url(../img/contact/media-contact.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
#media-contact h2, #media-contact h3, #media-contact p {
  color: white;
}
#media-contact h3 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}
#media-contact p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}
#media-contact .social {
  text-align: center;
}
#media-contact .social a {
  padding: 2px 6px;
  cursor: pointer;
  display: inline-block;
  margin: -3px;
}
#media-contact .social a i.fa {
  border: 2px solid white;
  color: white;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#media-contact .social a i.fa::before {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  text-align: center;
}
#media-contact .social a:hover i.fa {
  background: white;
}
#media-contact .social a:hover i.fa::before {
  color: #202020;
}

#send-message {
  text-align: center;
}

#features-overview {
  background-image: url(../img/assets/features-bg.jpg);
  background-size: cover;
  background-position: center;
}
#features-overview .section-title {
  color: white;
}
#features-overview h2 {
  color: #1d3b54;
}
#features-overview p {
  color: white;
}

#how-it-works ul {
  margin-left: 2rem;
}
#how-it-works ul li p {
  color: #1d3b54;
}
#how-it-works ul li i {
  margin-right: 1rem;
  color: #34b6b8;
}

#all-in-one {
  background: #eee;
}

#download-app {
  background-image: url(../img/assets/download-app-bg.jpg);
  background-size: cover;
  background-position: center;
}
#download-app .section-title {
  color: white;
}
#download-app h2 {
  color: #1d3b54;
}
#download-app h3 {
  color: white;
}
#download-app img {
  width: 16rem;
  padding: 2rem 1rem;
}

.icon-wrap {
  width: 6rem;
  height: 6rem;
  margin: 2rem;
  display: inline-block;
}

.image-wrap {
  padding-bottom: 4rem;
}
@media only screen and (min-width: 64em) {
  .image-wrap {
    padding-bottom: 0;
  }
}

/*--------------------------------------
Foundation Extension
--------------------------------------*/
.row {
  margin-bottom: 1em;
}

.fullRow {
  padding: 20px;
  background-color: yellow;
}

.pad {
  padding: 1em;
}

ul.edgeless {
  padding-left: 0 !important;
}

.cf {
  zoom: 1;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cross {
  text-decoration: line-through;
}

.divider-20 {
  width: 100%;
  min-height: 20px;
}

.divider-30 {
  width: 100%;
  min-height: 30px;
}

.divider-40 {
  width: 100%;
  min-height: 40px;
}

.divider-50 {
  width: 100%;
  min-height: 50px;
}

/*--------------------------------------
Helpers
--------------------------------------*/
.aCenter {
  text-align: center !important;
}

.alignright {
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.alignleft {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

ul.subNav {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ul.subNav li {
  display: inline-block;
  border-right: 1px #39393a solid;
  padding-right: 8px;
  padding-left: 4px;
}
ul.subNav li:last-child {
  border-right: none;
  padding-right: 0;
}
ul.subNav li:first-child {
  padding-left: 0;
}

/*--------------------------------------
Form
--------------------------------------*/
form label {
  font-weight: 700;
  margin-top: 2em;
}
form button {
  color: white;
}
form button:hover {
  color: #fff;
}
form .requiredFld {
  display: none !important;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

a.button {
  border: 3px solid #34b6b8;
  background: none;
  color: black;
  padding: 1.6rem 5rem;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1rem;
  margin: 2rem 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
a.button:hover {
  background: #34b6b8;
  color: white;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

/*--------------------------------------
Primary Navigation
--------------------------------------*/
section#nav {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.02);
  z-index: 999;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
section#nav .row {
  padding: 1.6rem 0;
  margin-bottom: 0;
}
section#nav .wordandbrown-logo {
  text-align: center;
  display: inline-block;
  width: 150px;
}
section#nav nav {
  position: absolute;
  width: 100vw;
  background: transparent;
  height: 100vh;
  right: 100%;
  left: auto;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
section#nav nav.active-menu {
  right: 0;
  background: rgba(5, 23, 25, 0.9);
}
section#nav nav.active-menu ul li {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
section#nav nav ul {
  position: relative;
  width: 100%;
  padding: 100px 0;
}
section#nav nav ul li {
  text-align: center;
  display: block;
  padding: 0;
  opacity: 0;
  transform: translateY(-200px);
  -webkit-transform: translateY(-200px);
}
section#nav nav ul li:nth-child(1) {
  -webkit-transition: all, 0.2s, 0.45s, ease-in-out;
  -khtml-transition: all, 0.2s, 0.45s, ease-in-out;
  -moz-transition: all, 0.2s, 0.45s, ease-in-out;
  -ms-transition: all, 0.2s, 0.45s, ease-in-out;
  -o-transition: all, 0.2s, 0.45s, ease-in-out;
  transition: all, 0.2s, 0.45s, ease-in-out;
}
section#nav nav ul li:nth-child(2) {
  -webkit-transition: all, 0.2s, 0.4s, ease-in-out;
  -khtml-transition: all, 0.2s, 0.4s, ease-in-out;
  -moz-transition: all, 0.2s, 0.4s, ease-in-out;
  -ms-transition: all, 0.2s, 0.4s, ease-in-out;
  -o-transition: all, 0.2s, 0.4s, ease-in-out;
  transition: all, 0.2s, 0.4s, ease-in-out;
}
section#nav nav ul li:nth-child(3) {
  -webkit-transition: all, 0.2s, 0.35s, ease-in-out;
  -khtml-transition: all, 0.2s, 0.35s, ease-in-out;
  -moz-transition: all, 0.2s, 0.35s, ease-in-out;
  -ms-transition: all, 0.2s, 0.35s, ease-in-out;
  -o-transition: all, 0.2s, 0.35s, ease-in-out;
  transition: all, 0.2s, 0.35s, ease-in-out;
}
section#nav nav ul li:nth-child(4) {
  -webkit-transition: all, 0.2s, 0.3s, ease-in-out;
  -khtml-transition: all, 0.2s, 0.3s, ease-in-out;
  -moz-transition: all, 0.2s, 0.3s, ease-in-out;
  -ms-transition: all, 0.2s, 0.3s, ease-in-out;
  -o-transition: all, 0.2s, 0.3s, ease-in-out;
  transition: all, 0.2s, 0.3s, ease-in-out;
}
section#nav nav ul li:nth-child(5) {
  -webkit-transition: all, 0.2s, 0.25s, ease-in-out;
  -khtml-transition: all, 0.2s, 0.25s, ease-in-out;
  -moz-transition: all, 0.2s, 0.25s, ease-in-out;
  -ms-transition: all, 0.2s, 0.25s, ease-in-out;
  -o-transition: all, 0.2s, 0.25s, ease-in-out;
  transition: all, 0.2s, 0.25s, ease-in-out;
}
section#nav nav ul li:nth-child(6) {
  -webkit-transition: all, 0.2s, 0.2s, ease-in-out;
  -khtml-transition: all, 0.2s, 0.2s, ease-in-out;
  -moz-transition: all, 0.2s, 0.2s, ease-in-out;
  -ms-transition: all, 0.2s, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, 0.2s, ease-in-out;
  transition: all, 0.2s, 0.2s, ease-in-out;
}
section#nav nav ul li a {
  border: none;
  display: block;
  width: 100%;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1em;
  color: white;
}
section#nav nav ul li a img {
  height: 4rem;
}
section#nav nav ul li.current_page_item a {
  color: #eee;
  border-bottom: none;
  font-weight: 400;
}
@media only screen and (min-width: 64em) {
  section#nav .wordandbrown-logo {
    text-align: left;
    float: left;
    width: 150px;
  }
  section#nav nav {
    margin-left: 150px;
    position: relative;
    right: 0;
    width: auto;
    height: auto;
  }
  section#nav nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  section#nav nav ul li {
    display: inline-block;
    padding-left: 30px;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  section#nav nav ul li a {
    text-transform: uppercase;
    color: #c6c6c6;
    padding: 0;
    font-size: 1rem;
    line-height: 50px;
    font-weight: 500;
  }
  section#nav nav ul li a img {
    height: 50px;
  }
  section#nav nav ul li.current_page_item a {
    color: #fff;
    border-bottom: 2px solid #34b6b8;
    font-weight: 400;
  }
}

.legal section#nav {
  background: #0f3e49;
}

#menu-icon {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
}
#menu-icon span {
  width: 40px;
  height: 3px;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  background: white;
  z-index: 10;
}
#menu-icon::after {
  content: '';
  width: 40px;
  height: 3px;
  background: white;
  top: 27px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -khtml-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all, 0.3s, 0s, linear;
  -khtml-transition: all, 0.3s, 0s, linear;
  -moz-transition: all, 0.3s, 0s, linear;
  -ms-transition: all, 0.3s, 0s, linear;
  -o-transition: all, 0.3s, 0s, linear;
  transition: all, 0.3s, 0s, linear;
}
#menu-icon::before {
  content: '';
  width: 40px;
  height: 3px;
  background: white;
  bottom: 27px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -khtml-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all, 0.3s, 0s, linear;
  -khtml-transition: all, 0.3s, 0s, linear;
  -moz-transition: all, 0.3s, 0s, linear;
  -ms-transition: all, 0.3s, 0s, linear;
  -o-transition: all, 0.3s, 0s, linear;
  transition: all, 0.3s, 0s, linear;
}
#menu-icon.active-menu-icon span {
  display: none;
}
#menu-icon.active-menu-icon::after {
  top: 38px;
  width: 50px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all, 0.3s, 0s, linear;
  -khtml-transition: all, 0.3s, 0s, linear;
  -moz-transition: all, 0.3s, 0s, linear;
  -ms-transition: all, 0.3s, 0s, linear;
  -o-transition: all, 0.3s, 0s, linear;
  transition: all, 0.3s, 0s, linear;
}
#menu-icon.active-menu-icon::before {
  bottom: 38px;
  height: 3px;
  width: 50px;
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all, 0.3s, 0s, linear;
  -khtml-transition: all, 0.3s, 0s, linear;
  -moz-transition: all, 0.3s, 0s, linear;
  -ms-transition: all, 0.3s, 0s, linear;
  -o-transition: all, 0.3s, 0s, linear;
  transition: all, 0.3s, 0s, linear;
}

@media only screen and (max-width: 1024px) {
  #menu-icon {
    display: block;
  }
}
